<!DOCTYPE html>
<html ng-app="plunker">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="bower_components/pdf.js-viewer/pdf.js"></script>
    <link rel="stylesheet" href="bower_components/pdf.js-viewer/viewer.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="angular-pdfjs-viewer.js"></script>

    <link href="style.css" rel="stylesheet"/>
    <script src="https://code.angularjs.org/1.5.4/angular.js"></script>
    <!-- By setting the version to snapshot (available for all modules), you can test with the latest master version -->
    <!--<script src="https://code.angularjs.org/snapshot/angular.js"></script>-->
    <script src="app.js"></script>
    <script src="mv-watermark.js"></script>


    <style>
        html, body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background: white;
        }

    </style>
</head>

<body ng-controller="MainCtrl">

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>
<div>
    <button ng-click="enable();">Enable</button>
    <button ng-click="disable();">Disable</button>
</div>
<div class="pdf-container" style="background: #eee;margin: 50px;height: 100%;">
    <pdfjs-viewer src="{{ pdf.src }}" on-init="initWaterMark()"></pdfjs-viewer>
    <!-- WATERMARK -->
    <div mv-watermark="dragOptions" enable-water-mark="hasWaterMark" >
        <div>
            <i class="fa fa-arrows"></i> Click & drag watermark
        </div>
    </div>
    <!-- END WATERMARK -->
</div>

</body>

</html>